<div class="flex justify-between items-center">
    <div class="relative md:w-2/3">
        <div
            class="absolute left-40 w-72 h-72 bg-indigo-300 rounded-full mix-blend-multiply filter blur-xl opacity-100  animate-blob">
        </div>
        <div
            class="absolute left-80  w-72 h-72 bg-orange-300 rounded-full mix-blend-multiply filter blur-xl opacity-100 animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-100 animate-blob animation-delay-4000">
        </div>
        <div class="card px-5 pt-5 w-full md:flex md:justify-between md:items-center">
            <div>
                <img class="h-72 w-72 object-cover rounded-xl" src="/assets/img/headshot.png"
                    alt="Maciej Janowski">
            </div>
            <div>
                <h2 class="headline">I am Maciej Janowski</h2>
                <p class="mt-2 text-xl max-w-lg">I help entrepreneurs like you get more customers and increase sales by helping you reach your goals, and delight your users.</p>
                    <div class="mt-4">
                        <a class="btn-primary" href="">Hire Me</a>
                    </div>
                
            </div>
        </div>
    </div>
    <div>
        
    </div>
</div>
