<div class="mt-12 md:mt-32 text-left max-w-4xl mx-auto">
    <div class="">
        <h2 class="headline">{{ text }}</h2>
    </div>
    <div class="mt-2 max-w-3xl">
        <p class="text-md md:text-xl max-w-4xl text-gray-700 font-light">{{ sub }}</p>
    </div>
</div>