
<div class="relative mt-12 md:mt-32 md:pb-24">

    <div class="max-w-lg bg-transparent">
        <div
            class="absolute top-0 -left-4 w-80 h-80 bg-yellow-400 rounded-full mix-blend-multiply filter blur-xl opacity-75  animate-blob">
        </div>
        <div
            class="absolute left-20 w-80 h-80 bg-pink-400 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob animation-delay-4000">
        </div>
    </div>
    <div class="flex">
        <div class="">
            <span class="font-semibold text-xl">Maciej Janowski</span>
            <h1 class="md:max-w-4xl text-5xl md:text-8xl font-black">
                I Build Lighthning Fast Websites
            </h1>
            <div class="absolute mt-4 flex justify-start items-center space-x-4">
                <a class="btn-primary" href="/contact">Hire Me</a>
                <a class="link-nav flex items-center" href="#read">Read More

                    <svg xmlns="http://www.w3.org/2000/svg" class="ml-1  text-gray-900 h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                      </svg>
                </a>
            </div>
        </div>
        
        
    </div>
    

</div>