<div class="card shadow rounded p-4 w-1/2">
    <h2 class="headline">Sign up for my Newsletter</h2>
    <p class="mt-2">Sign up for my newsletter and get notified about new articels etc.</p>
    <input class="mt-4 rounded-full shadow border px-8 py-4" type="text" name="" id="" placeholder="Your Email">
</div>