<div x-data="card()" class="z-20 relative">
    
    <div :class="{ [cls1]: true}" class="absolute top-0 -left-4 w-72 h-72 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob">
    </div>
    <div :class="{ [cls2]: true}"
        class="absolute top-0 -right-4 w-72 h-72 bg-amber-300 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob">
    </div>
    <div :class="{ [cls3]: true}"
        class="absolute left-20 w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob">
    </div>
    
    <div class="card">
        <div class="p-5">
            <p class="prose">{{ text }}</p>
        </div>
        <div class="px-5 pb-5">
            <div class="flex justify-end items-center">
                <strong class="mr-8">{{ name }}</strong>
                <img width="25" height="25" class="w-16 h-16 object-cover rounded-full ring-4 ring-gray-900"
                    src="{{ src }}" alt="{{ name }}">
            </div>
        </div>
        
    </div>
</div>

<script>
    function card() {
        return {
            cls1: COLORS[Math.floor(Math.random() * COLORS.length)],
            cls2: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
            cls3: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
        }
    }
</script>