<div x-data="card()" class="relative">
    <div :class="{ [cls1]: true}" class="absolute bottom-0 -left-4 w-40 h-40 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob">
    </div>
    <div :class="{ [cls2]: true}" class="absolute top-0 -right-4 w-40 h-40 rounded-full mix-blend-multiply filter blur-xl opacity-75 animate-blob">
    </div>
    <div class="card h-56 px-10 py-5 text-center">
        <div class="-mt-10 flex justify-center text-gray-100 ">
            <div class="bg-gray-900 p-2 rounded-xl">
                {{ icon | safe }}
            </div>
            
        </div>
        
        <h3 class="mt-6 font-semibold text-xl text-gray-900">{{ service }}</h3>
        <p>{{ desc }}</p>
    </div>
</div>



<script>
    function card() {
        return {
            cls1: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
            cls2: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
            cls3: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
        }
    }
</script>