---
layout: layouts/wrapper.liquid
---

<div class="container">
    <div class="hidden mt-12 md:mt-32 max-w-2xl mx-auto shadow-xl rounded-xl">
        <img class="w-full h-full object-cover rounded-xl border" src="{{ og_image }}" alt="">
    </div>

    
    {% include 'components/header', text: title, sub: description %}
    <div class="mt-12 md:mt-32">
        <div class="md:flex md:justify-center">
            <div class="prose  md:prose-lg ">
                {{ content | safe }}
            </div>
        </div>

    </div>
</div>

<script>
    function card() {
        return {
            cls1: COLORS[Math.floor(Math.random() * COLORS.length)],
            cls2: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
            cls3: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
        }
    }
</script>