---
layout: layouts/wrapper.liquid
---

<div class="container">
    {% include 'components/header', text: title, sub: description %}
    <div class="mt-12 md:mt-32">
        <div class="flex justify-center">
            <div class="prose md:prose-lg">
                {{ content | safe }}
            </div>
        </div>

    </div>
</div>

<script>
    const COLORS = ['bg-indigo-300', 'bg-blue-300', 'bg-pink-300', 'bg-rose-300', 'bg-yellow-300', 'bg-orange-300', 'bg-purple-300']
    const ANIM = ['animation-delay-2000', 'animation-delay-4000', 'animation-delay-1000']
    function card() {
        return {
            cls1: COLORS[Math.floor(Math.random() * COLORS.length)],
            cls2: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
            cls3: COLORS[Math.floor(Math.random() * COLORS.length)] + " " + ANIM[Math.floor(Math.random() * ANIM.length)],
        }
    }
</script>