<div class="md:flex md:justify-between items-start">
    <div class="">
        <h2 class="headline">Why do you need a fast website?</h2>
        <div class="prose md:prose-lg">
            <p>Website performance is important to your users experience, Google ranking and more. If you ignore performance, you're wasting a lot of potential.</p>
            <ul>
                <li>40% of users abandon a websites taking over 3 seconds to load</li>
                <li>46% of users will never visit again a poorly performing website</li>
                <li>64% of shoppers will shop somewhere else if they are annoyed with a slow website</li>
                <li>53% of mobile users leave a site that takes over 3 seconds to load</li>
            </ul>
            
            <p>If you feel you can benefit from a faster website contact me to  <a
                    href="/contact">hire me</a>
                today.</p>
        </div>

    </div>

    <div class="w-full md:w-1/2 mt-24 md:mt-0">
        <div>
            <img class="object-cover border-4 border-white rounded shadow h-full w-full" src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1600&q=80" alt="">
        </div>
    </div>

</div>

<div class="mt-12 ">
    {% include 'blocks/cta' %}
</div>

<div class="mt-12">
    <h2 class="headline">Everything you need for a perfect website</h2>
    <div class="mt-24 grid grid-cols-1 lg:grid-cols-2 gap-12">
        
        {% include 'components/service_card', service: 'Website Review', desc: 'I will make sure your website is performing the best it can by reviewing it before making any changes.', icon: '<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>' %}
        {% include 'components/service_card', service: 'Strategy', desc: 'We will discuss what you are trying to achieve, and place goals on your website to achieve that.', icon: '<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 12l3-3 3 3 4-4M8 21l4-4 4 4M3 4h18M4 4h16v12a1 1 0 01-1 1H5a1 1 0 01-1-1V4z" />
          </svg>' %}
        {% include 'components/service_card', service: 'Web Design', desc: 'I will design your website to be as easy to use as possible while leading users towards the end goal.', icon: '<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
          </svg>' %}
        {% include 'components/service_card', service: 'Custom Development', desc: 'I will build with your goals in mind, whether you want a simple flexible website, a custom storefront or a SaaS app.', icon: '<svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg>' %}
        

    </div>
</div>