<div class="md:flex md:justify-between md:items-center">
    <div class="">
        <div class="prose md:prose-lg">
            <h1>Fast websites aren't just about speed</h1>
            <p>Website performance is fundamental to your users experience, Google ranking and much more. By ignoring performance, you're wasting a lot of potential.</p>
            <ul>
                <li>40% of users abandon a website that takes over 3 seconds to load</li>
                <li>46% of users will never revisit a poorly performing website</li>
                <li>64% of shoppers will choose to shop somewhere else if they are frustrated with a slow website</li>
                <li>53% of mobile users abandon a site that takes over 3 seconds to load</li>
            </ul>
            
            <p>If one of these situations describes your needs, you're in the right place. You can <a
                    href="/contact">hire me</a>
                to help today.</p>
        </div>
        <div class="mt-12">
            <h2 class="headline">Everything you need for a perfect website</h2>
            <div class="mt-12 max-w-lg grid grid-cols-2 gap-6">
                
                {% include 'components/service_card', service: 'Website Review', desc: 'I make sure your website is performing its best by thoroughly reviewing it before making any changes.' %}
                {% include 'components/service_card', service: 'Business Strategy', desc: 'We discuss what you are trying to achieve, and place goals on your website planning how to achieve that.' %}
                {% include 'components/service_card', service: 'User Experience Design', desc: 'I design your website to be as easy to use as possible while guiding users towards the end goal.' %}
                {% include 'components/service_card', service: 'Tailored Development', desc: 'I build with your goals in mind, whether you want a simple flexible website, a custom storefront or a SaaS product.' %}
                

            </div>
        </div>

    </div>

    <div class="w-full md:w-1/3 mt-24 md:mt-0">
        {% include 'components/review_card', text: 'It’s a pleasure to work with Maciej. He’s very responsive
        and knows both Django and Tailwind
        inside
        out.
        He always makes sure that the work is exactly what is required and comes up with good
        product
        suggestions along the way. Highly recommended!', name: 'Hugh Topping', src:
        '/assets/img/testimonials/ht.png' %}

        <div class="mt-24 md:mt-64">
            {% include 'components/review_card', text: 'Maciej has provided us with custom software development in
            support of our business. He was
            quick,
            diligent and very professional. I will definitely utilize his services in future endeavors.
            He
            is an
            expert Python developer who is a pleasure to work with.', name: 'Doron Grinstein', src:
            '/assets/img/testimonials/dg.png' %}
        </div>

        <div class="mt-24 md:mt-64">
            {% include 'components/review_card', text: 'Maciej has provided us with custom software development in
            support of our business. He was
            quick,
            diligent and very professional. I will definitely utilize his services in future endeavors.
            He
            is an
            expert Python developer who is a pleasure to work with.', name: 'Doron Grinstein', src:
            '/assets/img/testimonials/dg.png' %}
        </div>

    </div>

</div>