<div class="md:flex md:justify-between md:items-center">
    <div class="">
        <h2 class="headline">Are you looking for a freelance full stack developer?</h2>
        <div class="mt-2 prose md:prose-lg">
            <p>Here are few ways I can help you out with your project</p>
            <ul>
                <li>You need a freelance full stack developer to work alongside a designer to plan the best approach
                    for
                    your project.</li>
                <li>Design, UX and UI work for your website is already finished and you need an experienced full
                    stack
                    developer to build the theme.</li>
                <li>You're looking to launch an eCommerce project on Shopify, and need a professional to code it.
                </li>
                <li>You want to develop a JAMStack website using headless content management system, via the REST
                    API,
                    for a detached front end using Svelte, SvelteKit or a static site generator like 11ty.</li>
                <li>You require a Shopify app or custom 3rd party integration to be developed for your Shopify
                    store.
                </li>
            </ul>
            <p>If one of these situations describes your needs, you're in the right place. You can <a
                    href="/contact">hire me</a>
                to help today.</p>
        </div>

    </div>


</div>