<div class="flex justify-between items-center">
    <div class="relative md:w-2/3">
        <div
            class="absolute left-40 w-72 h-72 bg-indigo-300 rounded-full mix-blend-multiply filter blur-xl opacity-100  animate-blob">
        </div>
        <div
            class="absolute left-80  w-72 h-72 bg-orange-300 rounded-full mix-blend-multiply filter blur-xl opacity-100 animate-blob animation-delay-2000">
        </div>
        <div
            class="absolute w-72 h-72 bg-pink-300 rounded-full mix-blend-multiply filter blur-xl opacity-100 animate-blob animation-delay-4000">
        </div>
        <div class="card p-10 w-full md:flex md:justify-between md:items-center ">
            <div>
                <h2 class="headline">Let's Get Started Today!</h2>
                <p class="mt-2 text-xl max-w-lg">Your search for a reliable freelance full-stack developer is over! Go to the form, tell me about your project and let's get started today.</p>
                <div class="mt-4">
                    <a class="inline-block btn-primary" href="/contact">Hire Me</a>
                </div>

            </div>
        </div>
    </div>
    <div>

    </div>
</div>