---
layout: layouts/wrapper.liquid

title: Home
description: Maciej Janowski Freelance full-stack developer
---


<div class="container">
    {% include 'components/hero' %}
</div>

{% include 'blocks/testimonials' %}

<div class="mt-12 md:mt-32 container">
    <div id="read" class="container">
        {% include 'blocks/content' %}
    </div>
</div>

{% include 'blocks/services' %}

<div class="container mt-12 md:mt-32">
    {% include 'blocks/content2' %}
</div>

<div class="container mt-12 md:mt-32">
    {% include 'blocks/cta' %}
</div>

<div class="hidden mt-32">
    <div class="">
        <div class="container mt-32">
            {% include 'components/about' %}
        </div>

        <div class="container mt-32">
            {% include 'blocks/content2' %}
        </div>

        <div class="container mt-32">
            {% include 'blocks/cta' %}
        </div>

    </div>
</div>

