---
layout: layouts/wrapper.liquid

title: Free Website Report
description: Maciej Janowski Freelance full-stack developer contact me to start a project
---
{% include 'components/header', text: title, sub: 'I will help you by pointing out how you can improve your website, if you want to hire me to implement my comments, send me a message on <a class="font-semibold underline" href="">maciej@janowski.dev</a>' %}
<div class="container">

    <div class="mt-12">
        <div class="max-w-3xl mx-auto">
            {% include 'components/website_form' %}
        </div>
    </div>
</div>